* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  body {
      display: flex;
      align-items: center;
      justify-content: center;;
      min-height: 100vh; 
      background: url(../assets/img_fondos/fondo.jpg);
      background-size: cover;
      background-position: center;
    }
  
  .cont_general {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    color: aliceblue;
    border-radius: 10px;
    padding: 30px 40px;
  }
  
  .cont_form h1 {
    text-align: center;
  }

  input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 25px;
    font-size: 16px;
    color: #fff;
    margin: 5px 5px;
    padding: 20px 40px 20px 20px;
    cursor: pointer;
  
    }
    .user .nombre_user {
        width: 5%;
        height: 5%;
        padding-top: 20%;
        text-align: center;
        float: left;
    }
    .div.center{
        text-align: center;
    }
    .button{
        background-color: rgb(132, 132, 150);
        
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        color: blanchedalmond;
    }
.img{
    width: 30%;
    height: 30%;
}